<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login Page</title>


<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
 
  </head>
  <body>
   	
   <div class="container">  
      <div class="row">
    <div class="col-md-4">
	   <div class="customDiv"> </div>
	</div>
	<div class="col-md-4">
	   <div style="margin-top:50px;" class="panel panel-default">
			  	<div style="background-color:#337ab7;" class="panel-heading">
			    	<h1 class="panel-title" style="color:white" >Please sign in</h1>
			 	</div>
			  	<div class="panel-body">
			    	<form action="#"  th:action="@{/login}" th:object="${login}" accept-charset="UTF-8" role="form" method="post">
                   
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control"  th:field="*{email}" placeholder="E-mail"  type="text"/>
		    		        <label style="color:red;font-weight:bold" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">          
		    		        </label>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control"  th:field="*{password}" placeholder="Password" type="password"/>
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" id="remember" th:checked="${remember} == y" value="1"/> Remember Me
			    	    		
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-primary" type="submit" value="Login..."/>
						<input id="register" class="btn btn-primary" type="button" value="Register"/>
			    	</fieldset>
			      	</form>
			    </div>
			</div>
	</div>
	<div class="col-md-4">
	   <div class="customDiv"></div>
	</div>
	</div>
	
   </div>
	  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!--      <script src="js/bootstrap.min.js"></script> -->
<!-- 	 <script src="js/custom.js"></script>  -->
  </body>
</html>