<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
<!-- <form action="#" th:action="@{/register}" th:object="${register}" method="post"> -->

<!-- <input type="text" id="email" name="email" /> -->

<!-- <input type="submit" value="button"/> -->
<!-- </form> -->

<!-- <input class="form-control"  th:field="*{firstName}" id="firstName" name="firstName" placeholder="firstName"  type="text"/> -->

Registration successful

Thank you
</body>
</html>